.footerContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  gap: 5vw;
  height: 50px;
  width: 100vw;
  justify-content: center;
  background-color: #141212;
}

.footerButton {
  flex: 1;
  width: 15vw;
  background-color: #141212;
  border: none;
  height: 100%;
  transition: all 100ms ease-in-out;
}



.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 15vw;
  background-color: #ffffff;
  transition: left 0.4s ease, width 0.2s ease-in-out;
  border-radius: 20vw;
}